

.header {
    background-image: url("../assets/hero.jpg");
    /*background-image: linear-gradient(black, white);*/
    background-size: cover;
    background-position: center;
    height: 70vh;


}

.ul {
    display: flex;
    gap: 30px;
    padding: 2em;
    justify-content: flex-end;
    margin-right: 12em;
    align-items: center;
}

.list {
    list-style: none;
    
}

.link {
    text-decoration: none;
    font-size: 2.0em;
    color: steelblue;


}


.link:hover {
    text-decoration: underline;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.btn {
    padding: 1em;
    background-color: steelblue;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 200px;
    color: gainsboro;
    font-size: 0.5em;
}

.btn:hover {
    background-color: rgb(86, 161, 190);
    color: black;
    
}
